@import url("https://fonts.googleapis.com/css?family=Philosopher");

#header {
    width: 100%;
}
#bottom {
    background-image: url("https://img0.etsystatic.com/193/1/6963715/il_340x270.1416680744_2ifj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    height: 150px;
}
#top {
    position: absolute;
    top: 3.5%;
    left: auto;
    width: 100%;
}
img {
    display: block;
    margin: auto;

}
.navbar {
    background-color: Black;
    height: 70px;
    position: relative;
    font-family: 'Philosopher', sans-sans-serif;
}

.navbar a {
    text-decoration: none;
}

.navbar>ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar>ul>li {
    float: left;
    position: relative;
}

.navbar>ul>li>a {
    color: White;
    padding: 0 20px;
    display: block;
    line-height: 70px !important;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar>ul>li>ul {
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar>ul>li>ul a{
    display:block;
    color: #222;
    width: 150px;
    line-height: 50px !important;
    background: #eee;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 0 5px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s linear .2s;
    -o-transition: all .3s linear .2s;
    -moz-transition: all .3s linear .2s;
    -webkit-transition: all .3s linear .2s;
}

.navbar>ul>li:hover>ul li a {
    opacity: 1;
    height: 50px;
    transition:all .3s linear;
    -o-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -webkit-transition:all .3s linear;
}

.pointer span {
    display: block;
    height: 4px;
    background-color: #EE6666;
    position: relative;
}

.pointer span:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(238, 102, 102, 0);
    border-bottom-color: #EE6666; /* color of triangle*/
    border-width: 4px;
    margin-left: -4px;
}

.pointer {
    position: absolute !important;
    height: 4px;
    top: 66px;
    background: #333;
    transition: all .3s linear;
    -o-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -webkit-transition:all .3s linear;
}

.selected.active>a, .active>a {
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    color: White;
}

#search-box {
    float: right;
    width: 15%;
    height: 30px;
    margin: auto 2%;
    border-radius: 20px;
    padding-left: 10px;
    display: block;
}
