<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

<div class="navbar">
    <ul>
        <li>
            <a href="">Home(Logo)</a>
        </li>
        <li>
            <a href="">Genres</a>
            <ul>
                <li>
                    <a href="">Science Fiction</a>
                </li>
                <li>
                    <a href="">Romance</a>
                </li>
                <li>
                    <a href="">Horror</a>
                </li>
                <li>
                    <a href="">History</a>
                </li>
                <li>
                    <a href="">Science</a>
                </li>
                <li>
                    <a href="">Others</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="">Help</a>
            <ul>
                <li>
                    <a href="">Contact Us</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
            </ul>
        </li>
        <li class="pointer"><span></span></li>
    </ul>
</div>
