<div id="header">
    <div id="bottom"></div>
    <div id="top">
        <img src="../assets/logo.png" width="150" height="120"/>
    </div>
</div>
<nav>
    <div class="collapse navbar-collapse navbar">
        <ul>
            <li class="homepage nav-item">
                <a href="">Home</a>
            </li>
            <li class="nav-item">
                <a href="">Genres</a>
                <ul>
                    <li>
                        <a href="">Science Fiction</a>
                    </li>
                    <li>
                        <a href="">Romance</a>
                    </li>
                    <li>
                        <a href="">Horror</a>
                    </li>
                    <li>
                        <a href="">History</a>
                    </li>
                    <li>
                        <a href="">Science</a>
                    </li>
                    <li>
                        <a href="">Others</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="">Help</a>
                <ul>
                    <li>
                        <a routerLink="/help/contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="">FAQ</a>
                    </li>
                </ul>
            </li>
            <li class="pointer"><span></span></li>
        </ul>
        <div>
            <input #searchBox id="search-box"
                    type="text"
                    placeholder="Search your book..."/>
        </div>
    </div>
</nav>
