<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <form action="action_page.php">

    <label for="fname">Your Name</label>
    <input type="text" id="yname" name="name" placeholder="Your name..">

	<label for="fname">Your Email</label>
    <input type="text" id="yemail" name="email" placeholder="Your email..">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>