<!--The content below is only a placeholder and can be replaced.-->




<div class="container">
  <form action="mailto:jgbruggy@gmail.com"
  method="POST"
  enctype="multipart/form-data"
  name="EmailTestForm">

    <label for="fname">Your Name</label>
    <br>
    <input type="text" id="yname" name="name" placeholder="Your name..">
    <br>
	  <label for="fname">Your Email</label>
    <br>
    <input type="text" id="yemail" name="email" placeholder="Your email..">
    <br>
    <label for="subject">Subject</label>
    <br>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    <br>
    <input type="submit" value="Submit">

  </form>
</div>
